
<%# Displays a detailed view of the deity %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="box p-10">

  <div class="row">
    <div class="col-md-3" style="padding-left:0px;padding-right:0px">
      <%= link_to display_thumbnail(@deity, :deity_picture),
                  upload_image_link(@deity, super_admin_deity_path(@deity), :deity_picture),
                  :remote => true %>
      <%= link_to "Change Image", upload_image_link(@deity, super_admin_deity_path(@deity), :deity_picture), :remote => true, :style=>"font-size:12px;" %>
    </div>

    <div class="col-md-9">
      <div class="heading1"><%= @deity.display_name %></div>
      <div class="heading2"><%= link_to @deity.temple.display_name, super_admin_temple_path(@deity.temple), class: "text-color-red" %></div>
    </div>
  </div>

  <div class="cl-20"></div>

  <div class="palette-footer ml-10">
    <%= link_to raw("<i class=\"icon-pencil icon-white mr--5\"></i> Edit"), edit_super_admin_deity_path(@deity), :class=>"btn btn-default btn-sm pull-right ml-10", :remote=>true %>
    <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), super_admin_deity_path(@deity), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm pull-right", :remote=>true %>
    <div class="cl-10"></div>
  </div>

  <div class="cl-20"></div>

  <%= content_tag :h3, "About the Deity", :class=>"heading" %>
  <hr>
  <div class='italic m-10'><%= simple_format(@deity.description.blank? ? "Description not available" : @deity.description) %></div>

  <%= content_tag :h3, "Details", :class=>"heading" %>

  <table class="table table-condensed table-hover table-striped mt-20">
    <tbody>
      <tr>
        <td class="bold" style="width:30%;">Created at</td>
        <td><%= display_time(@deity.created_at, "text-color-grey") %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Last updated at</td>
        <td><%= display_time(@deity.updated_at, "text-color-grey") %></td>
      </tr>
    </tbody>
  </table>

</div>