
<%# Renders a partial which is used to create a new trust %>

<%= form_for([:super_admin, @trust], :html => {:id=>"form_trust", :class=>"mb-0 form-horizontal", :role => "form", :method => (@trust.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @trust.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @trust.new_record? ? super_admin_trusts_path : super_admin_trusts_path(@trust) %>
    <%= hidden_field_tag :fmethod, @trust.new_record? ? "POST" : "PUT" %>

    <div class="form-inputs">


      <!-- Name (string) -->
      <%= render :partial=>"/layouts/common/form_field", :locals=>{:object=>@trust,
                                              :object_name=>'trust',
                                              :field_name=>'name',
                                              :display_name=>'Name of the Trust',
                                              :unicode_display_name=>'ട്രസ്റ്റിന്റെ പേര്',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Guruvayoor Devaswam"} %>

      <!-- UniCode Name (string) -->
      <%= render :partial=>"/layouts/common/form_field", :locals=>{:object=>@trust,
                                              :object_name=>'trust',
                                              :field_name=>'unicode_name',
                                              :display_name=>'Unicode Name',
                                              :unicode_display_name=>'മലയാളത്തിൽ എഴുതുക',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>false,
                                              :place_holder=>"e.g: ഗുരുവായൂർ ദേവസ്വം"} %>
      <!-- Address (string) -->
      <%= render :partial=>"/layouts/common/form_field", :locals=>{:object=>@trust,
                                              :object_name=>'trust',
                                              :field_name=>'address',
                                              :display_name=>'Address',
                                              :unicode_display_name=>'മേൽവിലാസം',
                                              :field_type=>'string',
                                              :input_type=>'textarea',
                                              :required=>true} %>

      <!-- Email (string) -->
      <%= render :partial=>"/layouts/common/form_field", :locals=>{:object=>@trust,
                                              :object_name=>'trust',
                                              :field_name=>'email',
                                              :display_name=>'Email',
                                              :unicode_display_name=>'ഇ-മെയിൽ',
                                              :field_type=>'string',
                                              :input_type=>'email',
                                              :required=>false,
                                              :place_holder=>"e.g: username@domain.com"} %>

      <!-- Phone (string) -->
      <%= render :partial=>"/layouts/common/form_field", :locals=>{:object=>@trust,
                                              :object_name=>'trust',
                                              :field_name=>'phone',
                                              :display_name=>'Phone',
                                              :unicode_display_name=>'ഫോണ്‍',
                                              :field_type=>'string',
                                              :input_type=>'tel',
                                              :required=>false,
                                              :place_holder=>"e.g: 0495 2321020."} %>



      <!-- Description (text) -->
      <%= render :partial=>"/layouts/common/form_field", :locals=>{:object=>@trust,
                                              :object_name=>'trust',
                                              :field_name=>'description',
                                              :display_name=>'Description',
                                              :unicode_display_name=>'ട്രസ്റിനെ കുറിച്ചുള്ള വിവരങ്ങൾ',
                                              :field_type=>'text',
                                              :input_type=>'textarea',
                                              :required=>false,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

    </div>

  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <% button_text = "#{@trust.new_record? ? "Create a new" : "Update"} Trust" %>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

	<div class="cl-10"></div>

<% end %>

