
<%# Displays a detailed view of the trust %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="box p-10">

  <div class="row">
    <div class="col-md-4">
      <%= display_image(@trust, :photo, "100%") %>
    </div>

    <div class="col-md-8">
      <div class="heading1"><%= @trust.name %></div>
      <div class="heading2"><%= @trust.address %></div>
    </div>
  </div>

  <%= content_tag :h3, "About the Trust", :class=>"heading" %>
  <hr>
  <div class='italic m-10'><%= simple_format(@trust.description.blank? ? "Description not available" : @trust.description) %></div>

  <div class="cl-20"></div>

  <table class="table table-condensed table-hover table-striped mt-20">
    <tbody>
      <tr>
        <td class="bold" style="width:30%;">Email</td>
        <td><%= @trust.email.blank? ? "-" : @trust.email %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Phone</td>
        <td><%= @trust.phone.blank? ? "-" : @trust.phone %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Status</td>
        <td><%= @trust.display_status %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Created at</td>
        <td><%= display_time(@trust.created_at, "text-color-grey") %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Last updated at</td>
        <td><%= display_time(@trust.updated_at, "text-color-grey") %></td>
      </tr>
    </tbody>
  </table>

	<div class="palette-footer ml-10">
    <%= link_to raw("<i class=\"icon-pencil icon-white mr--5\"></i> Edit"), edit_super_admin_trust_path(@trust), :class=>"btn btn-default btn-xs pull-right ml-10", :remote=>true %>
    <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), super_admin_trust_path(@trust), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right", :remote=>true %>
    <div class="cl-10"></div>
  </div>

</div>