
<%# Displays a detailed view of the trust %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="box p-10">

  <div class="row">
    <div class="col-md-3" style="padding-left:0px;padding-right:0px">
      <%= link_to display_thumbnail(@trust, :trust_logo),
                  upload_image_link(@trust, super_admin_trust_path(@trust), :trust_logo),
                  :remote => true %>
      <%= link_to "Change Image", upload_image_link(@trust, super_admin_trust_path(@trust)), :remote => true, :style=>"font-size:12px;" %>
    </div>

    <div class="col-md-9">
      <div class="heading1"><%= @trust.display_name %></div>
    </div>
  </div>

  <div class="cl-20"></div>

  <div class="palette-footer ml-10">
    <%= link_to raw("<i class=\"icon-pencil icon-white mr--5\"></i> Edit"), edit_super_admin_trust_path(@trust), :class=>"btn btn-default btn-sm pull-right ml-10", :remote=>true %>
    <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), super_admin_trust_path(@trust), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm pull-right", :remote=>true %>
    <div class="cl-10"></div>
  </div>

  <hr>

  <%= content_tag :h3, "About the Trust", :class=>"heading mb-20" %>
  <div class='italic m-10'><%= simple_format(@trust.description.blank? ? "Description not available" : @trust.description) %></div>

  <%= content_tag :h3, "Details", :class=>"heading" %>

  <table class="table table-condensed table-hover table-striped mt-20">
    <tbody>
      <tr>
        <td class="bold" style="width:30%;">Email</td>
        <td><%= @trust.email.blank? ? "-" : @trust.email %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Phone</td>
        <td><%= @trust.phone.blank? ? "-" : @trust.phone %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Status</td>
        <td><%= @trust.display_status %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Created at</td>
        <td><%= display_time(@trust.created_at, "text-color-grey") %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Last updated at</td>
        <td><%= display_time(@trust.updated_at, "text-color-grey") %></td>
      </tr>
    </tbody>
  </table>

  <%= content_tag :h3, "Admin", :class=>"heading pull-left" %>
  <%= link_to raw("<i class='icon-plus icon-white mr--5'></i> New Admin"), new_super_admin_trust_admin_path(called_from: "trust_show", trust_id: @trust.id), :class=>"btn btn-warning pull-right mb-20 mt-10", :remote=>true %>
  <div class="cl"></div>
  <hr>

  <% @trust.trust_admins.each do |ta| %>
    <div class="row pb-10">
      <div class="col-md-2 visible-md visible-lg" style="padding-left:0px;padding-right:0px">
        <%= link_to display_thumbnail(ta, :profile_picture), super_admin_trust_admin_path(ta) %>
      </div>
      <div class="col-md-10">
        <%= link_to ta.display_name, super_admin_trust_admin_path(ta), :class=>"heading3" %><br/>
        <div class="content"><%= ta.address if ta.address %></div>
      </div>
    </div>
  <% end %>


  <%= content_tag :h3, "Temples", :class=>"heading pull-left" %>
  <%= link_to raw("<i class='icon-plus icon-white mr--5'></i> New Temple"), new_super_admin_temple_path(called_from: "trust_show", trust_id: @trust.id), :class=>"btn btn-warning pull-right mb-20 mt-10", :remote=>true %>
  <div class="cl"></div>
  <hr>

  <% @trust.temples.each do |temple| %>
    <div class="row pb-10">
      <div class="col-md-2 visible-md visible-lg" style="padding-left:0px;padding-right:0px">
        <%= display_image(temple, :photo, "75%") %>
      </div>
      <div class="col-md-10">
        <%= link_to temple.display_name, super_admin_temple_path(temple), :class=>"heading3" %><br/>
        <div class="content"><%= scrap_word(temple.description, 200) if temple.description %></div>
      </div>
    </div>
  <% end %>

</div>