
<%# Renders a partial which is used to create a new admin %>

<%= form_for([:super_admin, @admin], :html => {:id=>"form_admin", :class=>"mb-0 form-horizontal", :role => "form", :method => (@admin.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @admin.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @admin.new_record? ? super_admin_admins_path : super_admin_admins_path(@admin) %>
    <%= hidden_field_tag :fmethod, @admin.new_record? ? "POST" : "PUT" %>

    <div class="form-inputs">


      <!-- Name (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'name',
                                              :display_name=>'Name',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

      <!-- Username (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'username',
                                              :display_name=>'Username',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

      <!-- Email (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'email',
                                              :display_name=>'Email',
                                              :field_type=>'string',
                                              :input_type=>'email',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>
      <div class="form-inputs">

        <!-- Trust (Drop Down) -->
        <div class="form-group ">
          <label for="inp_product" class="col-md-4 control-label">Choose a Trust
            <span class="text-color-red margin-left-10 margin-right-5 pull-right">*</span>
          </label>
          <div class="col-md-8">
            <%= collection_select(:admin, :trust_id, Trust.select("id, name").all, :id, :name, {:prompt=>true}, {:class => 'form-control required', :id=>"inp_product"}) %>
          </div>
        </div>

      </div><!-- /.form-inputs -->

      <!-- Password (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'password',
                                              :display_name=>'Password',
                                              :field_type=>'string',
                                              :input_type=>'password',
                                              :required=>true,
                                              :place_holder=>"Enter a Password"} %>

      <!-- Confirm Password (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'password_confirmation',
                                              :display_name=>'Password Confirmation',
                                              :field_type=>'string',
                                              :input_type=>'password',
                                              :required=>true,
                                              :place_holder=>"Retype Password"} %>

      <!-- Phone (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'phone',
                                              :display_name=>'Phone',
                                              :field_type=>'string',
                                              :input_type=>'tel',
                                              :required=>false,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

      <!-- Address (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@admin,
                                              :object_name=>'admin',
                                              :field_name=>'address',
                                              :display_name=>'Address',
                                              :field_type=>'string',
                                              :input_type=>'textarea',
                                              :required=>false,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

    </div>

  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <% button_text = "#{@admin.new_record? ? "Create" : "Update"} Item" %>
			<%# if @admin.new_record? %>
				<%#= link_to "Cancel", "#", :class => "btn", :remote=>true %>
			<%# else %>
				<%#= link_to 'Back', super_admin_admins_path, :class=>"btn ml-10", :remote => true unless @admin.new_record? %>
			<%# end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

	<div class="cl-10"></div>

<% end %>

