<% if @admin.errors.blank? %>
	
	// Fill the right box with first admin details
	$('#div_admin_details').html("<%= escape_javascript(render(:partial=>'show')) %>");
	
	// Add the newly created item to the list
  $("#div_admin_collections").prepend("<div id=\"div_admin_<%= @admin.id %>\"><%= escape_javascript(render(:partial => 'item', :locals => { :admin => @admin })) %></div>")
  $("#div_admin_empty").hide();
  
  // Close Modal
  closeModal();

<% else %>
	
  // Show the new form in the pop up form.
  heading = "Create Admin";
  bodyContent = "<%= escape_javascript(render(:partial=>"form")) %>";
  showModal(heading, bodyContent);
  validateAdminForm();
  
  // Populate Server Side Errors
  errorMessages = <%= @admin.errors.full_messages.to_json.html_safe %>;
  populateServerSideErrors('admin', errorMessages);
	
<% end %>
