
<%# Renders a partial which is used to create a new temple %>

<%= form_for([:super_admin, @temple], :html => {:id=>"form_temple", :class=>"mb-0 form-horizontal", :role => "form", :method => (@temple.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="modal-body">

    <%= @temple.errors[:base].to_sentence %>

    <%= hidden_field_tag :faction, @temple.new_record? ? super_admin_temples_path : super_admin_temples_path(@temple) %>
    <%= hidden_field_tag :fmethod, @temple.new_record? ? "POST" : "PUT" %>
    <%= hidden_field_tag :called_from, params[:called_from] if params[:called_from] %>

    <div class="form-inputs">


      <!-- Name (string) -->
      <%= render :partial=>"field", :locals=>{:object=>@temple,
                                              :object_name=>'temple',
                                              :field_name=>'name',
                                              :display_name=>'Name',
                                              :field_type=>'string',
                                              :input_type=>'text',
                                              :required=>true,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

      <!-- Trust (integer) -->
      <% if params[:called_from] && @trust && @trust.id %>

        <div class="form-inputs">
          <!-- Trust (Drop Down) -->
          <div class="form-group ">
            <label for="inp_temple" class="col-md-4 control-label">Choose a Trust
              <span class="text-color-red ml-10 pull-right">*</span>
            </label>
            <div class="col-md-8">
              <%= @temple.trust.name %>
            </div>
          </div>
        </div><!-- /.form-inputs -->
        <%= hidden_field_tag "temple[trust_id]", @trust.id %>

      <% else %>

        <div class="form-inputs">

          <div class="form-group ">
            <label for="inp_product" class="col-md-4 control-label">Choose a Trust
              <span class="text-color-red margin-left-10 margin-right-5 pull-right">*</span>
            </label>
            <div class="col-md-8">
              <%= collection_select(:temple, :trust_id, Trust.select("id, name").all, :id, :name, {:prompt=>true}, {:class => 'form-control required', :id=>"inp_trust"}) %>
            </div>
          </div>

        </div><!-- /.form-inputs -->
      <% end %>
      <!-- Description (text) -->
      <%= render :partial=>"field", :locals=>{:object=>@temple,
                                              :object_name=>'temple',
                                              :field_name=>'description',
                                              :display_name=>'Description',
                                              :field_type=>'text',
                                              :input_type=>'textarea',
                                              :required=>false,
                                              :place_holder=>"e.g: Put a suitable example here."} %>

    </div>

  </div>

  <div class="modal-footer">

    <div class="pull-right">
      <% button_text = "#{@temple.new_record? ? "Create" : "Update"} Item" %>
			<%# if @temple.new_record? %>
				<%#= link_to "Cancel", "#", :class => "btn", :remote=>true %>
			<%# else %>
				<%#= link_to 'Back', super_admin_temples_path, :class=>"btn ml-10", :remote => true unless @temple.new_record? %>
			<%# end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary ml-10" %>
    </div>

  </div>

	<div class="cl-10"></div>

<% end %>

