
<%# Displays a detailed view of the trust_admin %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="box p-10">

  <div class="row">
    <div class="col-md-3" style="padding-left:0px;padding-right:0px">
      <%= link_to display_thumbnail(@trust_admin, :profile_picture),
                  upload_image_link(@trust_admin, super_admin_trust_admin_path(@trust_admin), :profile_picture),
                  :remote => true %>
      <%= link_to "Change Profile Picture", upload_image_link(@trust_admin, super_admin_trust_admin_path(@trust_admin), :profile_picture), :remote => true, :style=>"font-size:12px;" %>
    </div>

    <div class="col-md-9">
      <div class="heading1"><%= @trust_admin.display_name %></div>
      <div><%= link_to @trust_admin.trust.display_name, super_admin_trust_path(@trust_admin.trust), :class=>"text-color-red" if @trust_admin.trust %><br/></div>
    </div>
  </div>

  <div class="cl-20"></div>

  <div class="palette-footer ml-10">
    <%= link_to raw("<i class=\"icon-pencil icon-white mr--5\"></i> Edit"), edit_super_admin_trust_admin_path(@trust_admin), :class=>"btn btn-default btn-sm pull-right ml-10", :remote=>true %>
    <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), super_admin_trust_admin_path(@trust_admin), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm pull-right", :remote=>true %>
    <div class="cl-10"></div>
  </div>

  <%= content_tag :h3, "Details", :class=>"heading" %>

  <table class="table table-condensed table-hover table-striped mt-20">
    <tbody>
      <tr>
        <td class="bold" style="width:30%;">Username</td>
        <td><%= @trust_admin.username.blank? ? "-" : @trust_admin.username %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Email</td>
        <td><%= @trust_admin.email.blank? ? "-" : @trust_admin.email %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Phone</td>
        <td><%= @trust_admin.phone.blank? ? "-" : @trust_admin.phone %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Address</td>
        <td><%= @trust_admin.address.blank? ? "-" : @trust_admin.address %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Status</td>
        <td><%= @trust_admin.status %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Created at</td>
        <td><%= display_time(@trust_admin.created_at, "text-color-grey") %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Last updated at</td>
        <td><%= display_time(@trust_admin.updated_at, "text-color-grey") %></td>
      </tr>
    </tbody>
  </table>

  <% if @trust_admin.trust && @trust_admin.trust.temples && @trust_admin.trust.temples.size >= 1 %>

    <%= content_tag :h3, "Temples", :class=>"heading pull-left" %>
    <div class="cl"></div>
    <hr>

    <% @trust_admin.trust.temples.each do |temple| %>
      <div class="row pb-10">
        <div class="col-md-2 visible-md visible-lg" style="padding-left:0px;padding-right:0px">
          <%= link_to display_thumbnail(temple, :temple_picture), super_admin_temple_path(temple) %>
        </div>
        <div class="col-md-10">
          <%= link_to temple.display_name, super_admin_temple_path(temple), :class=>"heading3" %><br/>
          <div class="content"><%= scrap_word(temple.description, 200) if temple.description %></div>
        </div>
      </div>
    <% end %>
  <% end %>


</div>