
<%# Displays a detailed view of the offering %>
<%# Display Flash Message if any only in case of ajax request %>
<% if request.xhr? %>
	<%= render :partial=>"layouts/common/flash_message" %>
<% end %>

<div class="box p-10">

  <div class="row">
    <div class="col-md-3">
      <%= display_image(@offering, :photo, "100%") %>
    </div>

    <div class="col-md-9">
      <div class="heading1">This is a heading <%#= @offering.id %></div>
      <div class="heading2">Sub heading <%#= @offering.another_field %></div>
    </div>
  </div>

  <table class="table table-condensed table-hover table-striped mt-20">
    <tbody>
      <tr>
        <td class="bold" style="width:30%;">Id</td>
        <td><%= @offering.id %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Created at</td>
        <td><%= display_time(@offering.created_at, "text-color-grey") %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Last updated at</td>
        <td><%= display_time(@offering.updated_at, "text-color-grey") %></td>
      </tr>
    </tbody>
  </table>

	<div class="row">
    <%= content_tag :span, "Notes:", :style=>"font-weight:bold", :class=>"col-md-4" %>
    <%= content_tag :span, @offering.notes, :class=>"col-md-8 ext-color-grey" %>
	</div>

  	<div class="row">
      <%= content_tag :span, "Deity:", :style=>"font-weight:bold", :class=>"col-md-4" %>
      <%= content_tag :span, @offering.deity_id, :class=>"col-md-8 ext-color-grey" %>
  	</div>
  	<div class="row">
      <%= content_tag :span, "Temple:", :style=>"font-weight:bold", :class=>"col-md-4" %>
      <%= content_tag :span, @offering.temple_id, :class=>"col-md-8 ext-color-grey" %>
  	</div>
  	<div class="row">
      <%= content_tag :span, "Price:", :style=>"font-weight:bold", :class=>"col-md-4" %>
      <%= content_tag :span, @offering.price, :class=>"col-md-8 ext-color-grey" %>
  	</div>


  <div class="cl-20"></div>

  <div class="palette-footer ml-10">
    <%= link_to raw("<i class=\"icon-pencil icon-white mr--5\"></i> Edit"), edit_trust_admin_offering_path(@offering), :class=>"btn btn-default btn-xs pull-right ml-10", :remote=>true %>
    <%= link_to raw("<i class=\"icon-remove \"></i> Delete"), trust_admin_offering_path(@offering), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right", :remote=>true %>
    <div class="cl-10"></div>
  </div>

</div>