<div class="header">
  <h3 class="text-muted pull-left">Devaswam</h3>
  <ul class="nav nav-pills pull-right">

    <% if @current_trust_admin %>
      <li class="<%= nav_class("Home") %>">
        <%= link_to raw("Home"), trust_admin_home_path %>
      </li>

      <li class="<%= nav_class("Manage Trusts") %>">
        <%= link_to raw("Manage Trusts"), trust_admin_trusts_path %>
      </li>

      <li class="<%= nav_class("Manage Admin") %>">
        <%= link_to raw("Manage Admin"), trust_admin_admins_path %>
      </li>

      <li class="<%= nav_class("Manage Temples") %>">
        <%= link_to raw("Manage Temples"), trust_admin_temples_path %>
      </li>

      <li class="<%= nav_class("Manage Deities") %>">
        <%= link_to raw("Manage Deities"), trust_admin_deities_path %>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @current_trust_admin.name %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Profile</li>
          <li><a href="#">Update Profile</a></li>
          <li><a href="#">Profile Settings</a></li>
          <li><a href="#">Notifications Settings</a></li>
          <li class="divider"></li>
          <li><%= link_to raw("Sign Out"), trust_admin_sign_out_path, method: :delete %></li>
        </ul>
      </li>
    <% else %>
      <li class="<%= nav_class("Manage Trusts") %>">
        <%= link_to raw("Sign In"), trust_admin_sign_in_path %>
      </li>
    <% end %>

  </ul>
  <div class="cl-10"></div>
  <div class="visible-xs" style="border:1px solid #c1c1c1;margin-bottom:20px"></div>
</div>

